@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;

    }


.grid{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 500px 500px 1fr;
}


.wrapper {
    display:flex;
    flex-direction:row;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 30px;
    justify-content:center;
}

.Note {
    width: auto;
    height: auto;
    text-align: center;
    align-content:center;
    font-size: 14px
}

.Note a:hover{
    color: #87cefa;
}

.selected{
    color: grey;
   }

   a{
    text-decoration: none;
    color: black;
}



.shulte_table{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.number{
    font-family: "Comic Sans MS";
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
    border: black solid 1px;
    }


.ad{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

#display{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

.blured{
    filter: blur(7px);}

